html * {
	font-family: "Verdana";
}

body {
	background-color: #BDBDBD !important;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 30%;
}

.profile {
	right: 5px;
}

.main {
	background-color: #E0E0E0;
}

.ct a {
	color: black !important;
}


.navbar {
	width: 100% !important;
	background-color: #ff1744 !important;	
}

ul li a, .navbar-brand {
	color: white !important;
}

ul li a:hover, .navbar-brand:hover {
	background-color: red !important;
	color: black !important;
	font-weight: bold;
}

.patient {
	background-color: white !important;
	table-layout: auto !important;
}



.patient thead {
	background-color: #ff1744 !important;
	font-weight: bold;
	color: white;
}

.patient tr:hover {
	background-color: #EF9A9A !important;
	font-weight: normal;
}

.patient tr th:last-child {
	white-space: nowrap;
	width: 15%;
	align-content: center; 
}

.scroll {
	height: 360px;
	overflow-y: scroll;
}

.details {
	table-layout: auto !important;
}

.details tr th {
	width: 30%;
}

.details tr th:first-child {
	width: 5%;
}

.details tr th:last-child {
	width: 10%;
}

.checkup-sort {
	padding-right: 10px !important;
}

.queue-modal {
	display: none;
}

.queue {
	table-layout: auto !important;
}

.queue thead tr th:last-child {
	width: 35% !important;
	text-align: center;
}

.records, .queues {
	background-color: #EF9A9A !important;
}

li .active a {
	background-color: #ff1744 !important;
}

.records li a, .queues li a {
	color: black !important;
}

/* asdasdasdas */

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff !important;
  background-color: #ff1744 !important;
  border: 1px solid #888888;
  font-weight: bold;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #ff1744 !important;
}

.dropdown-menu {
	background-color: #ff1744 !important;
}

.dropdown-menu>li>a:hover {
	background-color: white !important;
	color: black !important;
}

#noPrefix {
	background-color: #d9534f !important;
	border-color: #d43f3a !important;
	color: white;
	border-radius: 6px 0px 0px 6px !important; 
}

.opened {
	background-color: #5cb85c !important;
	border-color: #4cae4c !important;
	color: white;
}

.closed {
	background-color: #f0ad4e !important;
	border-color: #eea236 !important;
	color: white;
}

#officeStatus option {
	background-color: white !important;
	color: black;
}