html *
{
   font-family: Verdana !important;
}

.glyphicon {
   font-family:'Glyphicons Halflings' !important;
}

.category{
	background-color: #2ecc71 !important;
	border-radius: 12px !important;
	border-style: solid;
	border-color: #212121;
    background-color: rgba(46, 204, 113, 0.7) !important;
}

.sub{
	border-radius: 12px !important;
	border-style: solid;
	border-color: #212121;
    background-color: rgba(244, 192, 69, 0.7) !important;
}

.alert{
	border-radius: 12px !important;
	border-style: solid;
	border-color: #212121;
	border-width: 1px;
}

.dynamic{
    background-color: #00593d !important;
    border-radius: 12px !important;
    border-style: solid;
    border-color: #212121;
    border-width: 1px;
}

.linkz{
	color:	#27ae60;
	font-weight: bold;
}

.linkz:hover{
	color:	#1B5E20;
	font-weight: bold;
}

.top{
	color:	white;
	font-weight: bold;
}

.top:hover {
	color:	#f4c045;
	font-weight: bold;
	text-decoration: none;
}

.table{
	border-color: black !important;
    table-layout: auto !important;
}

td, th {
	border-color: black !important;
    width: auto !important;
}

thead {
    background-color: #f4c045 !important;
}

tbody {
    background-color: white !important;
}
.dropbtn {
    background-color: #2ecc71;
    color: black;
    padding: 5px;
    font-size: 20px;
    box-shadow: 1px 1px 1px 1px;
    cursor: pointer;
    width: 100%;
    height: 40px;
}

.wowclass {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    width: 150px;
    margin-top: 7px;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
}

.wow a {
    color: black;
    padding: 3px 3px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1c40f;
	text-decoration: none;
	color: black;
}

.try:hover .dropdown-content {
    display: block !important;
}

#navtop{
	overflow: hidden;
    background-color: #00593d;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
}

.btn-success {
	background-color: #00593d !important;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-color: #00593d !important;
}

.btn-success:hover{
    background-color: #296d58 !important;
}

#rightdiv, #sidenav{
	overflow: hidden;
    position: fixed;
    right: 0;
    z-index: 0;
}

.form-control{
	background-color: white !important;
}

body{
    margin: 0;
    /*background-image: url('/images/blurred.jpg');*/
    background-color: #E0E0E0 !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}

.test{
    background-color: #f1c40f !important;
    color: black;
    font-weight: bold;
}

.btn-warning{
    background-color: #f4c045 !important;
    color: black;
}

#showbtn, #showall{
    width: 100% !important;
}

#horizontal-style {
    display: table;
    width: 100%
}
#horizontal-style li {
    display: table-cell;
}
#horizontal-style a {
    display: block;
    border: 1px solid red;
    text-align: center;
    margin: 0 5px;
    background: #999
}

#zTry {
    background: #ccc;
}

.clientsmodal{
    background-color: red;
    border-radius: 7px;
    width: 90% !important;
    overflow-x: scroll;
    overflow-y: scroll; 
}

.redflagz{
    margin-top: 5% !important;
    background-color: #2ecc71;
    border-radius: 7px;
    width: 90% !important;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.radiodate{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#redflagid{
  word-wrap: break-word;
}

.btn-default{
    background-color: #FFA000 !important;
    font-weight: bold;
}

.closebtn{
    width: 100% !important;
}

.radioborder{
    color: white;
    margin-right: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.report{
    background-color: #00593d;
    color: white;
}

.loadingModal{
    position: fixed;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    max-height: 100vh;
    overflow-y: auto;
    background-image: url('/ajax.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px;
    cursor: progress;
    display: none;
}

.parent{
    text-align: center;
}

.dataTables_info, .paginate_button, .modal-header h4 {
    color: white !important;
}

option, select, .lbl{
    color: black !important;
}

#loopDiv h1, #clientHeader {
    color: #f4c045;
}

.control-label{
    color: black !important;
}

.alertForm{
    background-color: #e6e6e6 !important;
    margin-left: 5% !important;
    width: 90% !important;
    align-content: center;
    padding-bottom: 25px;
    border-radius: 12px !important;
    border-style: solid;
    border-color: #212121;
}

.alertDiv{
    text-align: center;
    margin-left: 5% !important;
    width: 90% !important;
}

.label{
    color: black !important;
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.loginbtn{
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto !important;
    padding: 10px !important;
}   

.middleDiv label{
    color: black !important;
}

.middleDiv textarea{
    height: 20em !important;
}

.AML th{
    background-color: #00593d !important;
}

.alertDiv label{
    text-align: left !important;
    float: left;
    padding-bottom: 0px !important;
    padding-top: 15px !important;
}