html * {
	font-family: "Verdana" !important;
}

body {
	background-color: #BDBDBD !important;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 30%;
}

.profile {
	right: 5px;
}

.main {
	background-color: #E0E0E0;
}

.ct a {
	color: black !important;
}


.navbar {
	width: 100% !important;
	background-color: #ff1744 !important;	
}

ul li a, .navbar-brand {
	color: white !important;
}

ul li a:hover, .navbar-brand:hover {
	background-color: red !important;
	color: black !important;
	font-weight: bold;
}

.logout {
	top: 13px !important;
	position: absolute !important;
	right: 10px !important;
	float: right !important;
	margin-right: 0 !important;
}

.patient {
	background-color: white !important;
}

.patient thead {
	background-color: #ff1744 !important;
	font-weight: bold;
	color: white;
}

.patient tr:hover {
	background-color: #EF9A9A !important;
	font-weight: bold;
}

.checkup-sort {
	padding-right: 10px !important;
}

.queue-modal {
	display: none;
}

.records, .queues {
	background-color: #EF9A9A !important;
}

li .active a {
	background-color: #ff1744 !important;
}

.records li a, .queues li a {
	color: black !important;
}

/* asdasdasdas */

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff !important;
  background-color: #ff1744 !important;
  border: 1px solid #888888;
  font-weight: bold;
}